# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

*.bak

/Open-SEC Firmware/SEC-B175-4A
/Open-SEC Firmware/SEC-B175-4A/*
/Open-SEC Firmware/SEC-B175-4A-SIM/
/Open-SEC Firmware/SEC-B175-4A-SIM/*
/Open-SEC Firmware/SEC-B175-7A
/Open-SEC Firmware/SEC-B175-7A/*
/Open-SEC Firmware/SEC-B175-7A-SIM/
/Open-SEC Firmware/SEC-B175-7A-SIM/*
/Open-SEC Firmware/SEC-B175-10A
/Open-SEC Firmware/SEC-B175-10A/*
/Open-SEC Firmware/SEC-B175-10A-SIM/
/Open-SEC Firmware/SEC-B175-10A-SIM/*
/Open-SEC Firmware/SEC-B80-8A
/Open-SEC Firmware/SEC-B80-8A/*
/Open-SEC Firmware/SEC-B80-8A-SIM/
/Open-SEC Firmware/SEC-B80-8A-SIM/*

/Open-SEC Bootloader/Debug
/Open-SEC Bootloader/Debug/*
/Open-SEC Bootloader/Release
/Open-SEC Bootloader/Release/*

PackBinaries.bat
*.zip